@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Race
@{
    ViewData["Title"] = localizer["detail_race"];
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">@localizer["home"]</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">@localizer["find"]</a>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page">@localizer["races_in"] @Model.Address.City, @Model.Address.State</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-sm-0">
                    <img alt="Image" src="@Model.Image" class="rounded img-fluid" />
                </div>
                <!--end of col-->
                <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <div>
                        <h1 class="mb-2">@Model.Title</h1>
                        <h2 class="lead mb-3">@Model.Address.City, @Model.Address.State</h2>
                        <div>
                            <span class="badge badge-secondary mr-3">@Model.RaceCategory</span>
                        </div>
                        <div>
                            <ul class="list-inline text-small d-inline-block mb-3">
                                <li class="list-inline-item"><i class="icon-calendar"></i> @Model.DateCreated?.Date.ToShortDateString()</li>
@*                                <li class="list-inline-item"><i class="icon-time-slot"></i> 6:00</li>
*@                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="btn-group mb-2">
                            <a href="mailto:@Model.AppUser?.Email" type="button" class="btn btn-success greenButton btn-lg">@localizer["contact"]</a>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-7">
                    <h5 class="mb-4">Overview</h5>
                    <article>
                        @Model.Description
                    </article>
                    @*
                    <h5 class="mb-4">Discussion</h5>
                    <div class="card">
                    <div class="card-header bg-secondary d-flex justify-content-between">
                    <button class="btn btn-secondary" type="button" data-target="#comment-reply" data-toggle="collapse" aria-expanded="false" aria-controls="comment-reply">Post a reply</button>
                    <form class="d-flex align-items-center">
                    <span class="mr-2 text-muted text-small text-nowrap">Sort by:</span>
                    <select class="custom-select">
                    <option value="alpha">Alphabetical</option>
                    <option value="old-new" selected>Newest</option>
                    <option value="new-old">Popular</option>
                    <option value="recent">Recently Updated</option>
                    </select>
                    </form>
                    </div>
                    <div class="collapse" id="comment-reply">
                    <form class="card-body">
                    <div class="form-group">
                    <textarea class="form-control from-control-lg" id="comment-reply-text" name="comment-reply" rows="4" placeholder="Type your reply here"></textarea>
                    </div>
                    <div class="mb-2">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="notify-reply" id="check-notify">
                    <label class="custom-control-label text-small" for="check-notify">Notify me when someone replies</label>
                    </div>
                    </div>
                    <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-success mr-3">Submit reply</button>
                    <a href="#comment-reply" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Cancel</a>
                    </div>
                    </form>
                    </div>
                    <ul class="list-group list-group-flush list-group-comments">
                    </ul>*@
                </div>
                <div class="col-12 col-md-4">
                    <!-- end card -->
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <i class="icon-users mr-1"></i> @localizer["owner"]
                                    </div>
                                    <span>@Model.AppUser?.UserName</span>
                                </div>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-calendar mr-1"></i> @localizer["created"]</div>
                                    <span>@Model.DateCreated?.ToString("dd-MM-yyyy HH:mm")</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-calendar mr-1"></i> @localizer["last_updated"]</div>
                                    <span>@Model.DateModified?.ToString("dd-MM-yyyy HH:mm")</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end card -->
                </div>
                <!--end of col-->
                <hr>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
<!--end of container-->
    </section>
</div>