@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using SoleMates.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = localizer["login"];
}
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>@localizer["login_msg"]</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>@localizer["sorry"]!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label">@localizer["email_address"]</label>
                        <input asp-for="EmailAddress" class="form-control">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">@localizer["password"]</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float right" type="submit" value=@localizer["login"] />
                        <a class="btn btn-outline-secondary" asp-controller="Club" asp-action="Index">@localizer["cancel"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
