@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using SoleMates.Data.Enum;
@using SoleMates.ViewModels;
@model CreateClubViewModel
@{
    ViewData["Title"] = localizer["create_club"];
}

<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row mb-5">
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row flex-md-row card card-md">
                <div class="card-body bg-secondary">
                    <div class="text-center mb-5">
                        <h1 class="h2 mb-2">@localizer["create_own_club"]</h1>
                        <span>@localizer["club_community"]</span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-5">
                            <form method="post" asp-action="Create" enctype="multipart/form-data">
                                <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="Title" class="form-control form-control-lg" placeholder="@localizer["title"]" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control form-control-lg custom-select-lg" aria-label="select a category">
                                            <option>--@localizer["select"]--</option>
                                        </select>
                                        <span asp-validation-for="ClubCategory" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="Description" class="form-control form-control-lg" placeholder="@localizer["description"]" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="Address.Street" class="form-control form-control-lg" placeholder="@localizer["street"]" />
                                        <span asp-validation-for="Address.Street" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input asp-for="Address.City" class="form-control form-control-lg" placeholder="@localizer["city"]" />
                                        <span asp-validation-for="Address.City" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Address.State" class="form-control form-control-lg" placeholder="@localizer["state"]" />
                                        <span asp-validation-for="Address.State" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col custom-file">
                                        <input asp-for="Image" type="file" class="form-control form-control-lg custom-file-input" />
                                        <label asp-for="Image" class="custom-file-label">@localizer["choose_file"]</label>
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success btn-lg" type="submit">@localizer["create_club"]</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>